<style>:root {
    --theme-color:#a00000;
    --theme-color-light: #a00000;
}

html {
    scroll-behavior: smooth;
}
.img-responsive{max-width:100%; height:auto; width:auto;}
body {
    font-family: 'LatoRegular', sans-serif;
    margin: 0 auto;
    color: #555555;
    text-decoration: none;
    max-width: 450px;
    text-align: center;
    box-shadow: 1px 2px 50px #56C9F5;
    padding-bottom: 85px;
    background-image: url('#');
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: var(--theme-color);
}
.clearfix{clear:both;}
strong, b, h1, h2, h3, h4, h5 {
    font-family: 'LatoHeavy';
}
.bottomborder{position:relative;}
.bottomborder:after{content:""; position:absolute; bottom:-10px; left:0; width:100%; height:2px; background:var(--theme-color);}

.companylogo{width: 60%;
    max-width: 200px;
    float: left;
    text-align: left;
    padding: 5px;
    position: relative;
    vertical-align: middle;
    height: 20px;}
.companylogo img {
    height: auto;
    max-width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto auto;
	max-height: 95%;
}
.views {
    padding: 10px 7px;
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    margin: 17px 0;     font-size: 12px;
    display: inline-block; float: right;
    margin-right: 10px; background: var(--theme-color);
    color: #fff;

}

.headerbg {
    width: 100%;
    background: #FFFFFF;
	padding-top:30px;
}

.personface {
    width: 400px;
    height: 200px;
    align: center;
	margin: 0px auto 2px auto;

    overflow: hidden;
}
.personface img{filter: ...(100%);}

.personname {
    font-family: latoheavy;
    font-size: 25px;
    line-height: 1; margin:5px 0;
}
.personname span {
    color:var(--theme-color);
}

.companyname {
    font-size: 15px;
}

.contact-row {
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.contact-icon {
    padding: 0px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 18px; line-height:40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
    text-align: center;
    color: #f7f7f7;
    border: none;
    margin: 5px 10px;
    border: 1px solid var(--theme-color);
    background-color: var(--theme-color);
}

.firstpagebottom {
    padding: 20px; background:#f7f7f7;
}

.inside-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    text-align: center;
    line-height: 30px;
    background-color: var(--theme-color);
    font-size: 15px;
	position: center;
	border-radius: 12%;
    color: #fff;
}

.actionbtn {
    display: flex;
    margin-bottom: 15px;
    margin-top: 20px;
}

.actionbtn a {
    margin: 0 8px;
}

.iconbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block;
    vertical-align: middle; */
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(107, 128, 168, 0.2);
    border-radius: 5px; font-size:20px;
    margin-bottom: 10px;
    background-color: var(--theme-color);
    color: #ffffff;
}

.icontxt {
    color: #666666;
    text-decoration: none;
    font-size: 13px;
    font-family: 'LatoRegular';
}

.contact-buttons {
    text-align: center;
    width: calc(100% + 40px);
    margin-top: 20px;
}

.contact-button {
    padding: 8px 10px;
    border-radius: 50px;
    min-width: 70px;
    display: inline-block;
    font-size: 12px;
    box-shadow: 1px 1px 5px rgba(107, 128, 168, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;*/
    text-align: center;
    background-color: var(--theme-color);
    color: rgb(14, 17, 67);
    /*border: 2px solid #424242;*/
    margin-right: 5px;
    margin-bottom: 10px;
}

.contact-button i {
    margin-right: 5px;
}

.contactdata {
    -webkit-border-vertical-spacing: 10px;
}


.contact-table td {
    padding: 5px 0;
    text-align: left;
}


.contact-text {
    margin-left: 10px;
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
    color:#333;
    word-break: break-word;
}

.share-whatsapp {
    text-align: left;
    display: flex; margin-bottom:20px;
}

.share-whatsapp input {
   -webkit-appearance: none;
    background-color: #fcea24;
    padding: 10px;
    outline: none;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid #36A246; 
	border-radius: 5px 0 0 5px; width:100%;
	padding-left: 40px;
	
    
}

.whatsapp-btn {
   -webkit-appearance: none;
    padding: 10px;
    font-size: 13px;
    background-color: var(--theme-color);
    color: #fcea24;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0;
	 
}

.whatsapp-btn i {
    font-size: 16px;
    margin-right: 10px; color: #fcea24;
}

.input-wrapper {
    position: relative;
    flex: 1; border-right:1px solid #e5e5e5;
    overflow: hidden;
}

.input-wrapper label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
}

.shadow-btn {
    display: flex;
    justify-content: center;
	margin:5px -4px;
}

.shadow-btn a {
    padding: 10px 2px;
    font-size: 12px;
    color: #333;
    margin: 5px;
    background: #fff;
    flex: 1;
    border: 2px solid #fff;
    display: inline-block;
	text-transform:uppercase; border-radius:3px;
}
a.addphonebook{min-width:175px;}
a.share{min-width:80px;}


.shadow-btn .fa {
    color: var(--theme-color);
    vertical-align: middle;
    font-size: 15px;
    margin-right: 10px;
    margin-top: -2;
}

/* Section common classes Starts */
.main-wrapper {
    background: #fff;
}
.section-heading {
    color: var(--theme-color); margin:0 0 20px 0; display:inline-block;
    position:relative; font-size: 18px; font-weight:600;
    text-transform: uppercase;
}
.section-heading:after{position:absolute; content:"";width:100%;
    background-color: var(--theme-color); bottom:-5px; left:0;
    height:2px;}
.page-container {
    text-align: left;
    padding: 20px;
    margin-top: 15px;
    line-height: 22px;
    font-size: 14px;
    position: relative;
    box-shadow: 1px 2px 15px #48484833;
    background: #fff; 
    /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);*/
    overflow: hidden;
    word-break: break-word; 
}


/* Section common classes  Completed */

/* Card  Starts */
.card {
    text-align: left;
    background-color: #fcea24;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset; */
}

.card .card-title {
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-family: 'LatoRegular';
}
/* Card  Completed */

/* About section start */
.about-tbl {
    font-size: 14px;
    margin-top: 15px;
    border-collapse: separate;
    border-spacing: 0 0px; width:100%;
}

.about-tbl .td-label {
    text-align: left;
    min-width: 140px;
    vertical-align: top;
}
.about-tbl h3 {
    font-size: 13px;
    line-height: 1;
    padding-left: 5px; margin:7px 0;
}

.about-txt {
    text-align: justify;
    max-width: 95%;
}

.download {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 2px solid var(--theme-color);
    border-radius: 6px;
    margin-bottom: 10px;
    color: #555555;
}

.download .pdf-icon {
    padding: 12px;
    padding-right: 5px;
    font-size: 18px;
}

.download .pdf-number {
    padding: 10px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.download .download-icon {
    font-size: 18px;
    padding: 12px;
    border-left: 2px solid var(--theme-color);
    color: #fcea24;
    background: var(--theme-color);
}


.other-links-wrapper .other-links-link {
    display: block;
    line-height: 20px;
    margin-bottom: 5px;
    word-break: break-all; color:#333;
}

.other-links-wrapper .other-links-link i {
    margin-right: 10px; color: var(--theme-color);
}

/* About section completed */

/* Product section starts */
.product-description {
    text-align: justify;
    max-width: 100%;
}
.product-enquiry-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-price {
    font-size: 15px;
    color: #333; 
}
.product-enquiry-btn {
    padding: 7px 15px;
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    background: var(--theme-color);
    border-radius:5px;
}
/* Product css completed */

/* Payment section Start */
.qr-image {
    max-width: 200px;	
}

/* Payment section Completed */

/* Gallery  Starts */
.images-container {
    column-count: 3;
    -webkit-column-count: 3;
    column-gap: 0;
    -webkit-column-gap: 0;
}

.images-container .image-wrapper {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    padding: 3px;
}

.images-container .image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; border:1px solid #fcea24;
}

.images-container .image-wrapper img:hover {
    opacity: 0.7;
}
/* Gallery Completed */

/* Feedback form  start */
.feedback-form input[type=text],select,textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    outline: none;
    font-size: 14px;
    font-family: 'Uniform', sans-serif;
}

.feedback-form input[type=button], .feedback-form input[type=submit]{
    background-color: var(--theme-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px 0;
    font-family: 'Uniform', sans-serif;
}

.feedback-form input[type=button]:disabled, .feedback-form input[type=submit]:disabled {
    opacity: 0.3;
}

.feedback-form .feedback-phoneNumber {
    flex: 1;
    margin-right: 5px;
}

.feedback-form .feedback-email {
    flex: 1;
    margin-left: 5px;
}

.feedback-list .feedback-wrapper {
}

.feedback-list .feedback-wrapper .feedback-name-wrapper {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.feedback-list .feedback-wrapper .feedback-name {
    color: var(--theme-color);
    font-size: 15px;
    font-weight: 500;
}

.feedback-list .feedback-wrapper .gl-star-rating-stars > span {
    width: 18px;
    height: 18px;
    background-size: 18px;
}

#feedback hr {
    border-color: rgba(0, 0, 0, 0.12);
    border-width: 0.5px;
}

.feedback-form {
    margin-bottom: 0;
    padding: 15px;
}

.feedback-form .feedback-form-heading {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}
/* Feedback form Completed */

/* Enquiry form start */
.enquiry-form input[type=text], .enquiry-form input[type=email], .enquiry-form select, .enquiry-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    outline: none;
    font-size: 14px;
    font-family: 'Uniform', sans-serif;
}

.enquiry-form input[type=submit] {
    background-color: var(--theme-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px 0;
    font-family: 'Uniform', sans-serif;
}

.enquiry-form input[type=submit]:disabled {
    opacity: 0.3;
}

.enquiry-form .enquiry-phoneNumber {
    flex: 1;
    margin-right: 5px;
}

.enquiry-form .enquiry-email {
    flex: 1;
    margin-left: 5px;
}
/* Enquiry form Completed */

/* Footer Starts */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.footer-menu {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 251, 251, 0.1) inset;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0;
    list-style-type: none;
    overflow: auto;
    position: relative;
    background: var(--theme-color);
    /* border-radius: 20px 20px 0 0; */
    display: flex;

    background-image: linear-gradient(to right, var(--theme-color), var(--theme-color)), linear-gradient(to right, var(--theme-color), var(--theme-color)), linear-gradient(to right, rgba(0, 0, 20, .50), var(--theme-color)), linear-gradient(to left, rgba(0, 0, 20, .50), var(--theme-color));
    /* Shadows */
    /* Shadow covers */
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-size: 20px 100%, 20px 100%, 20px 100%, 20px 100%;
    background-attachment: local, local, scroll, scroll;
}

.footer-menu li {
    flex: 1;
    min-width: 80px;
}

.footer-menu .footer-menu-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
}

.footer-menu .footer-menu-icon {
    font-size: 20px;
    margin-bottom: 0px;
    color: #fcea24;
}

.footer-menu .footer-menu-text {
    font-size: 11px;  text-transform:uppercase;
}

/* Footer Completed */

/* Copyright  start */
.copyright {
    color: rgba(0,0,0, 0.8);
    background-color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    margin-top: 15px;
    margin-bottom: -26px;
}

.copyright-inner {
    background-color: #fff;
    padding: 5px;
}

.copyright a {
    color:rgba(0,0,0,0.8);
}

/* Copyright completed */

/* Modal popup Start */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 0px;
    right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight:600;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* Modal popup Completed */

/* Share Form in popup Start*/
.share-modal {
    padding-top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
}
.share-form {
    background-color: #F1F1F1;
}

.share-form .share-form-header {
    position: relative;
    padding: 20px 0;
}

.share-form .share-form-header .share-form-header-text {
    padding-top: 12px;
    margin: 0;
}

.share-form .share-form-header .close {
    top: 18px;
    color: #555555;
}

.share-form-buttons-container {
    margin-bottom: 40px;
}

.share-btn-heading {
    position: relative;
    padding: 0 60px;
}

.share-btn-heading .share-btn-arrow {
    position: absolute;
    left: 35px;
    top: 16px;
    width: 30px;
    transform: rotateZ(15deg);
}

.share-btn-heading .share-btn-heading-text {
    text-align: left;
    font-family: cursive;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #D34544;
    margin: 10px 0;
}

.share-btn {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding: 0 60px;
    margin: 0;
}

.share-btn li {
    padding: 4px;
    list-style: none;
}

.share-btn li i {
    background-image: none;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    overflow: hidden;
    line-height: 1.1em;
    color: #fff;
    display: block;
    cursor: pointer;
    font-size: 24px;
    height: 40px;
    width: 40px;
    text-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-btn.firstpage {
    padding: 0;
    justify-content: center;
    margin: 0px; border-top: 1px solid #e5e5e5
}

.share-btn.firstpage li {
    padding: 3px;
}

.share-btn.firstpage li i {
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 20px;
    background: #f5f5f5;
    color: #555555;
}

.share-btn-whatsapp {
    background-color: #29a71a;
}

.share-btn-sms {
    background-color: #1598d5;
}

.share-btn-facebook {
    background-color: #3b5998;
}

.share-btn-twitter {
    background-color: #2ba9e1;
}

.share-btn-skype {
    background-color: #00aff0;
}

.share-btn-pinterest {
    background-color: #cb2027;
}

.share-btn-linkedin {
    background-color: #007bb6;
}

.share-btn-instagram {
    background-color: #F18644;
}

.share-btn-youtube {
    background-color: #E63631;
}

.share-btn-mail {
    background-color: #939598;
}
/* Share Form in popup Completed*/

/* Animations start */
.fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Animations Completed */

/* Media query on Smaller Screens */
@media only screen and (max-width: 450px){
    .modal-content {
        width: 100%;
    }

    .share-modal {
        align-items: flex-end;
    }
}


.p-30 {
    padding-top: 30px;
}

.p-20 {
    padding-top: 20px;
}
.orderedList {
    list-style: decimal;
    padding-left: 16px;
}

.unorderedList {
    list-style: disc;
    padding-left: 16px;
}

.flex {
    display: flex;
}


.pdf {
    padding-bottom: 0;
}
</style>